
/* Global styling - doesn't change based on form factor*/
body {
	background-color: rgb(44, 43, 43);
	min-width: 320px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

nav {
	background-color: rgba(0,0,0,0.5);
	color: white;
	width: 100vw;
	overflow:hidden;
	box-shadow: 0 2rem 4rem 0 rgba(0,0,0,.2);
	padding: 1em;
	font-size: 2vw;
}

article {
	background-color: rgb(128, 128, 128, 0.75);
	color: white;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
}

article p {
	font-size: 1rem;
}

article ul li {
	font-size: 0.1rem;
}

article h2 {
	text-shadow: 0.2rem 0.2rem 0.2rem #4A0202;
	text-align: center;
}

article h3 {
	position:relative;
	padding-top:0.5vh;
	padding-bottom:0.5vh;
}

footer table {
	background-color: #552424;
	padding: 0.5rem;
	border: 0.25rem black dashed;
	color: #FFFFFF;
	width: 100%;
}

footer {
	box-sizing: border-box;
	background-color: #2C2C2C;
	width: 100%;
	min-width: 320px;
	font-size: 0.9rem;
	margin: 0px auto 0px auto;
	padding: 1%;
}

footer a {
	color: #9C9393;
}


header {
	box-sizing: border-box;
	text-align: center;
	min-width: 320px;
	margin: 0px auto 0px auto;
}

header h1 {
	color: #7e0000;
	text-shadow: 0.2rem 0.2rem 0.2rem #4A0202;
}

h1, h2, p {
	margin: 0;
}

/* Profile Image Box Properties */

.profileimg {
	background-image: url("ProfilePhoto2Cropped.png");
	background-repeat: no-repeat;
	background-size: contain;
	/*aspect-ratio: 1079 / 982;*/
	aspect-ratio: 576/433;
	/*height: 100%;*/
	width: 100vw;
	max-height: 100vh;
	min-width: 320px;
}

/* Grey and Red BG Image Container Properties */

.parallaxRed {
	margin-left: auto;
	margin-right: auto;
	background-image: url("wallpaper2.jpg");
	background-attachment: fixed;
	display:block;
	min-width: 320px;
	/*max-width: 1920px;*/
	overflow: hidden;
	position: relative;

}

.parallaxGrey {
	margin-left: auto;
	margin-right: auto;
	background-image: url("headingbg.jpg");
	background-attachment: fixed;
	display:block;
	min-width: 320px;
	/*max-width: 1920px;*/
	/*overflow: hidden;*/
	position: relative;
	box-shadow: 10px 20px 20px grey;
}

.parallaxGrey p {
	color: white;
	font-size: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
	width: 100%;
}



/* Name Container Properties */

.namecontainer {
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	columns: 1;
	justify-content: center;
}

.namecontainer h1 {
	width: 100%;
	text-align: center;
	font-size: 6vw;
	text-shadow: #8f8585;
}

.namecontainer h2 {
	width: 100%;
	text-align: center;
	font-size: 3vw;
}

.namecontainer hr {
	color: white;
	width: 100%;
}

/* About Me Box Properties */

.aboutmecontainer {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	height: 100%;
	width: 98vw;
	color: white;
	background-color: rgba(29, 29, 29, 0.75);
	background-size: contain;
	border-radius: 1.5em;
	padding: 1em;
	max-width: 95vw;
}

.aboutmecontainer a {
	color: rgb(187, 64, 64);
}

.aboutmecontainer a:visited {
	color: pink;
}

.aboutmecontainer ul li {
	font-size: 1.25rem;
}

.aboutmecontainer h1 {
	text-align: left;
	font-size: 2rem;
	text-shadow: 3px 3px 5px rgb(161, 48, 48);
	color: white;
	/*margin-left: 3rem;*/
	/*margin-top: 25vh;
	margin-bottom: 0vh;*/
	margin-left: 1rem;
	margin-right: 1rem;
}

.aboutmecontainer h2 {
	text-align: left;
	font-size: 1.75rem;
	/*text-shadow: #8f8585;*/

	color: white;
	/*margin-left: 3rem;*/
	/*margin-top: 25vh;
	margin-bottom: 0vh;*/
	margin-left: 1rem;
	margin-right: 1rem;
}

.aboutmecontainer p {
	/*text-indent: 50px;*/
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1.25rem;

}

.aboutmecontainer img {
	max-width: 100vw;
}

.outerbox {
	box-sizing: border-box;
	background-color: #ffffff;
	width: 95%;
	min-width: 320px;
	margin: 0px auto 0px auto;
}

.scaleableimg {
	/*display: block;
	height: auto;*/
	max-width: 50%;
	max-height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	border-radius: 7.5%;
}

.clear {
	clear: both;
}

.imgButton {
	display: inline-flex;
	/*background-color: #552424;*/
	background-color: white;
	border-radius: 0.5rem;
	border: 1rem grey;
	/*height: 1vh;*/
	/*width: 5rem;*/
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	padding-left: 3vw;
	padding-right: 3vw;
	text-align: center;
	font-size: 1em;
	color: #bb1b1b;
	margin-left: 0.1em;
	margin-right: 0.1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	filter: drop-shadow(5px 5px gray);
}

.imgButton a {
	color:rgb(161, 48, 48)
}

.imgButton:hover {
	background-color: black;
	color: white;
}

.imgButton:hover a {
	color:white;
}

.imgButton-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

/* Small / Mobile Screen Sizes */
@media screen and (min-width: 320px) {

	.namecontainer {
		position: absolute;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		bottom: 0;
		width: 100%;
	}

	.profileimg {
		background-position: center top;
	}

}

/* Large / Desktop / Laptop Screen Sizes */
@media screen and (min-width: 800px) {

	.profileimg {
		background-position: left top;
	}

	.namecontainer {
		float: right;
		margin-bottom: auto;
		margin-top: 25%;
		margin-right: 1vw;
		padding-bottom: 0%;
		width: 40%;
		/*height: 70%;*/
		bottom: auto;
		position: static;
	}

}